<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um novo pedido para ser entregue, confira os detalhes abaixo </p>
<hr>
<p>
  <strong>Cliente: {{ recipient }}</strong>
  <br>
  <strong>Produto: {{ product }} </strong>

  <br />

</p>
<hr>
<p>
   <small>
    O produto já está disponível para a retirada.
    Lembre-se que o horário de retirada é entre as 08:00 e as 18:00
  </small>
</p>
